@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #101522;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  background: #101522;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}