# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment variables
.env

# Database files
*.sqlite
*.sqlite-journal

# TypeScript
*.tsbuildinfo

# Production
build/
dist/

# Dependency directories
jspm_packages/

# IDE/Editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# MacOS
.DS_Store

# Node-wrapped python environment
.node-gyp
